<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ description }}" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div id="root">{{{ content }}}</div>
    <script>
      window.__APOLLO_STATE__ = {{{ state }}};
    </script>
    <script src="/assets/{{ scripts }}"></script>
  </body>
</html>
